
<!DOCTYPE html>
<html style="background-color: #000;">

<head>
    <title>医师界面</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../Content/index.css">
</head>

<body style="background-color: #000;">
    <div class="doc_main">
        <div class="doc_mainHeader">
            <p id="deptName">@ViewBag.deptName</p>
        </div>
        <div class="doc_maincontent">
            <div class="doc_main_info">
                <p>当前候检人数<i id="deptNum"></i></p>
            </div>
            <div class="doc_main_content clearfix">
                <p class="doc_main_name" style="display:none">候检人Id<i id="CurId"></i></p>
                <p class="doc_main_name">候检人姓名<i id="CurName">@ViewBag.CurName</i></p>
                <p class="doc_main_sex">性别<i id="CurSex"></i>@ViewBag.CurSex</p>
                <p class="doc_main_age">年龄<i id="CurAge"></i>@ViewBag.CurAge</p>
            </div>
            <div class="doc_main_content clearfix">
                <span>体检号</span>
                <input type="text" placeholder="扫码枪输入体检号" id="inputPatientid">
                <button onclick="getUserInfo()">查询</button>
            </div>
            <div class="doc_main_content clearfix">
                <p class="doc_main_name" style="display:none">到检人Id<i id="ComeId">@ViewBag.ComeId</i></p>
                <p class="doc_main_name" >到检人姓名<i id="ComeName"></i></p>
                <p class="doc_main_sex" >性别<i id="ComeSex"></i></p>
                <p class="doc_main_age" >年龄<i id="ComeAge"></i></p>
            </div>
            <div class="doc_main_btn clearfix">
                <button onclick="CurPatient()" id="start">开始</button>
                <button onclick="recall()" id="recall">重新呼叫</button>
                <button onclick="OverNumber()" id="overnumber">过号</button>
            </div>
            <div class="doc_main_next">
                <span id="CurName1">@ViewBag.name</span>
                <p>下一站<i id="nxtDept">@ViewBag.nxtDept</i></p>
            </div>
        </div>
    </div>
</body>

</html>

<script type="text/javascript">

    function recall() {
        name = document.getElementById('CurName').innerHTML
        if (name == '') {
            alert("当前已无候检人，请勿重复操作")
        }
        else {
            $.post("/Screens/AddCallQue",
            {
                msg: "请" + name + "到" + '@ViewBag.floor' + "楼" + '@ViewBag.deptName' + '@ViewBag.clinicId' + "号诊室就诊"
            })

        }
    }
    function getUserInfo() {

        $.post('/Algorithm/GetUserInfo',
            {
                patientid: document.getElementById('inputPatientid').value
            },
            function (data, status) {
                user = JSON.parse(data);
                document.getElementById('ComeId').innerHTML = user.patient_id
                document.getElementById('ComeName').innerHTML = user.name
                document.getElementById('ComeSex').innerHTML = user.sex
                document.getElementById('ComeAge').innerHTML = user.age
            })
    }

    function NxtPatient() {
        document.getElementById('start').innerHTML = '下一位';
        $.post('/Algorithm/getDeptNumber',
        {
            deptName: document.getElementById('deptName').innerText
        },
        function (deptNum, state) {
            if (deptNum <= 0) {
                alert("当前已无候检人，请勿重复操作")
                document.getElementById('deptNum').innerHTML = 0
                document.getElementById('CurId').innerHTML = ''
                document.getElementById('CurName').innerHTML = ''
                document.getElementById('CurSex').innerHTML = ''
                document.getElementById('CurAge').innerHTML = ''
            }
            else {
                //更新诊室数量
                document.getElementById('deptNum').innerHTML = deptNum

                //更新当前诊室的下一个病人
                $.post('/Algorithm/getFirstUserInfo',
                {
                    deptName: document.getElementById('deptName').innerText,
                    clinicId: '@ViewBag.clinicId',
                    doctorId: '@ViewBag.doctorId'
                },
                function (data, status) {
                    user = JSON.parse(data);
                    document.getElementById('CurId').innerHTML = user.patient_id
                    document.getElementById('CurName').innerHTML = user.name
                    document.getElementById('CurSex').innerHTML = user.sex
                    document.getElementById('CurAge').innerHTML = user.age
                    $.post("/Screens/AddCallQue",
                        {
                            msg: "请" + user.name + "到" + '@ViewBag.floor' + "楼" + '@ViewBag.deptName' + '@ViewBag.clinicId' + "号诊室就诊"
                        })

                })
            }

        })
    }
    function CurPatient() {
        $.post('/Algorithm/getNxtDeptInfo',
            {
                patientId: document.getElementById('CurId').innerHTML,
                deptName: document.getElementById('deptName').innerHTML
            },
            function (data, status) {
                if (data != '') {
                    dept = JSON.parse(data)
                    document.getElementById('CurName1').innerHTML = document.getElementById('CurName').innerHTML
                    document.getElementById('nxtDept').innerText = dept.deptname + '科室(您的排序序号' + Number(dept.deptnum) + 1 + ')'
                }
                else {
                    document.getElementById('CurName1').innerHTML = document.getElementById('CurName').innerHTML
                    if (document.getElementById('CurName1').innerHTML != '') {
                        document.getElementById('nxtDept').innerText = '已完成所有体验'
                    }
                    else {
                        document.getElementById('nxtDept').innerText = ''
                    }

                }
                NxtPatient();
            })
    }
    function OverNumber() {
        $.post('/Algorithm/getDeptNumber',
          {
              deptName: document.getElementById('deptName').innerText
          },
          function (deptNum, state) {
              if (deptNum <= 0) {
                  alert("当前已无候检人，请勿重复操作")
                  document.getElementById('deptNum').innerHTML = 0
                  document.getElementById('CurId').innerHTML = ''
                  document.getElementById('CurName').innerHTML = ''
                  document.getElementById('CurSex').innerHTML = ''
                  document.getElementById('CurAge').innerHTML = ''
              }
              else {
                  $.post('/Algorithm/OverNumber',
                    {
                        patientId: document.getElementById('CurId').innerHTML,
                        deptName: document.getElementById('deptName').innerHTML,
                        clinicId: '@ViewBag.clinicId',
                        doctorId: '@ViewBag.doctorId'
                    },
                    function (data, status) {
                        user = JSON.parse(data);
                        document.getElementById('CurId').innerHTML = user.patient_id
                        document.getElementById('CurName').innerHTML = user.name
                        document.getElementById('CurSex').innerHTML = user.sex
                        document.getElementById('CurAge').innerHTML = user.age
                         $.post("/Screens/AddCallQue",
                            {
                                msg: "请" + user.name + "到" + '@ViewBag.floor' + "楼" + '@ViewBag.deptName' + '@ViewBag.clinicId' + "号诊室就诊"
                            })
                    })
              }
          })
    }

</script>
