@model IEnumerable<schema.View_Screen>
@{
    Layout = null;
}

<!DOCTYPE html>
<html style="height: 100%;">
<head>
    <title>智能导检大屏</title>
    <meta http-equiv="refresh" content="25">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Scripts/js/Screen/css/index.css">
</head>
<body style="height: 100%;" onload="callPatient()">
    <div class="bigscreen">
        <div class="bigscreen_top">
            <span>@ViewBag.departName</span>
        </div>
        <div class="bigscreen_main">
            <table border="1px" cellspacing="0" cellpadding="0">
                @foreach (var cname in ViewBag.clinicNames)
                {
                    <th>@cname</th>
                }
                <tbody>
                    <tr class="current_check">                 
                    </tr>
                    <tr class="wait_check">
                        <td class="clearfix" colspan="4">
                            <span>候诊人：</span>
                            @foreach (var name in ViewBag.pnames)
                            {
                                <p>@name</p>
                            }
                           
                           
                        </td>

                    </tr>
                    <tr class="next_station">
                       
                           @foreach (var item in ViewBag.patientAndDept)
                           {
                                <td>
                                    <p>
                                        <span>@item[0]</span>下一站：<span>@item[1]</span>
                                    </p>
                                
                                </td>
                           }
                    </tr>
                </tbody>
            </table>
        </div>
        <audio id="audio"></audio>

    </div>
    alert(12)
    @Scripts.Render("~/bundles/jquery")

</body>
</html>
<script type="text/javascript">
    function callPatient() {
        $.post("/Screens/GetCallQue",
            {

            },
            function (msg, status) {
                if (msg != '')
                {
                    msg = new SpeechSynthesisUtterance(msg);
                    msg.rate = 0.9
                    window.speechSynthesis.speak(msg);
                    window.speechSynthesis.speak(msg);
                    window.speechSynthesis.speak(msg);
                }
            });
       
       
       
    }
</script>
