@model IEnumerable<T_DEPART_MANAGE>
<!-- 科室管理页面 -->

<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">

    <title>体检中心后台管理 </title>
    <link rel="shortcut icon" href="img/favicon.ico">

    <!-- global stylesheets -->
    <link href="css/fontsGoogleapis.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/css/font-icon-style.css">
    <link rel="stylesheet" href="~/Content/css/style.default.css" id="theme-stylesheet">
    <!-- 新引入 -->
    <link rel="stylesheet" href="~/Content/css/button.css">
</head>
</head>

<body>

    <!--====================================================
                             MAIN NAVBAR
    ======================================================-->
    <header class="header">
        <nav class="navbar navbar-expand-lg ">
            <div class="search-box">
                <button class="dismiss"><i class="icon-close"></i></button>
                <form id="searchForm" action="#" role="search">
                    <input type="search" placeholder="Search Now" class="form-control">
                </form>
            </div>
            <div class="container-fluid ">
                <div class="navbar-holder d-flex align-items-center justify-content-between">
                    <div class="navbar-header">
                        <a href="index.html" class="navbar-brand">
                            <div class="brand-text brand-big hidden-lg-down"><img src="img/logo-white.png" alt="Logo" class="img-fluid"></div>
                            <div class="brand-text brand-small"><img src="img/logo-icon.png" alt="Logo" class="img-fluid"></div>
                        </a>
                        <a id="toggle-btn" href="#" class="menu-btn active">
                            <span></span>
                            <span></span>
                            <span></span>
                        </a>
                    </div>
                </div>
                <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
                    <!-- Expand-->
                    <li class="nav-item d-flex align-items-center full_scr_exp"><a class="nav-link" href="#"><img src="img/expand.png" onclick="toggleFullScreen(document.body)" class="img-fluid" alt=""></a></li>
                </ul>
            </div>
        </nav>
    </header>

    <!--====================================================
                            PAGE CONTENT
    ======================================================-->
    <div class="page-content d-flex align-items-stretch">

        <!--***** SIDE NAVBAR *****-->
        <nav class="side-navbar">
            <hr>
            <!-- Sidebar Navidation Menus-->
            <ul class="list-unstyled">
                <li> <a href="index.html"><i class="fa fa-home"></i>首页</a></li>
                <li> <a href="userManagement.html"> <i class="fa fa-user"></i>用户管理 </a></li>
                <li> <a href="department.html"> <i class="fa fa-hospital-o"></i>科室管理 </a></li>
                <li> <a href="consultingRoom.html"> <i class="fa fa-medkit"></i>诊室管理 </a></li>
                <li> <a href="inspectingItem.html"> <i class="fa fa-stethoscope"></i>体检项目前置管理 </a></li>
                <li hidden> <a href="tables.html"> <i class="fa fa-user-md"></i>医生管理</a></li>
                <li hidden>
                    <a href="#apps" aria-expanded="false" data-toggle="collapse"> <i class="fa fa-line-chart"></i>统计查询 </a>
                    <ul id="apps" class="collapse list-unstyled">
                        <li><a href="statistics.html">统计</a></li>
                        <li><a href="query.html">查询</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#forms" aria-expanded="false" data-toggle="collapse"> <i class="fa fa-cog"></i>系统设置</a>
                    <ul id="forms" class="collapse list-unstyled">
                        <li><a href="reset-register.html">挂号过号设置</a></li>
                        <li><a href="settime.html">楼层路程时间设置</a></li>
                        <li><a href="voice.html">语音设置</a></li>
                        <li hidden><a href="setup.html">医院基本信息</a></li>
                        <li hidden><a href="play.html">播放类型设置</a></li>
                        <li hidden><a href="playing.html">播放视频设置</a></li>
                        <li hidden><a href="model.html">模板设置</a></li>
                    </ul>
                </li>
                <li hidden> <a href="ui-timeline.html"> <i class="fa fa-pencil-square-o"></i>日志管理</a></li>
            </ul>
            <!-- <span class="heading">Extras</span>
            <ul class="list-unstyled">
                <li> <a href="#"> <i class="icon-picture"></i>Demo </a></li>
            </ul> -->
        </nav>

        <div class="content-inner chart-cont">

            <!--***** CONTENT *****-->
            <div class="row">
                <div class="mail-box">
                    <aside class="sm-side">
                        <div class="inbox-body">
                            <a href="#" data-toggle="modal" title="Compose" class="btn btn-compose"> 同步 </a>
                            <!-- Modal -->
                            <!-- <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade" style="display: none;">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                                            <h4 class="modal-title">请填写信息：</h4>
                                        </div>
                                        <div class="modal-body">
                                            <form role="form" class="form-horizontal">
                                                <div class="row form-group">
                                                    <label class="col-lg-2 control-label">科室名</label>
                                                    <div class="col-lg-10">
                                                        <input type="text" placeholder="" id="inputEmail1" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="row form-group">
                                                    <label class="col-lg-2 control-label">科室类型</label>
                                                    <div class="col-lg-10">
                                                        <input type="text" placeholder="" id="inputEmail11" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="row form-group">
                                                    <label class="col-lg-2 control-label">大屏就诊人数</label>
                                                    <div class="col-lg-10">
                                                        <select name="user-type" class="form-control">
                                                            <option>1</option>
                                                            <option>2</option>
                                                            <option>3</option>
                                                            <option>4</option>
                                                            <option>5</option>
                                                            <option>6</option>
                                                            <option selected="selected">7</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row form-group">
                                                    <label class="col-lg-2 control-label">大屏回诊人数</label>
                                                    <div class="col-lg-10">
                                                        <select name="user-type" class="form-control">
                                                            <option>1</option>
                                                            <option>2</option>
                                                            <option>3</option>
                                                            <option>4</option>
                                                            <option>5</option>
                                                            <option>6</option>
                                                            <option selected="selected">7</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row form-group">
                                                    <label class="col-lg-2 control-label">小屏就诊人数</label>
                                                    <div class="col-lg-10">
                                                        <select name="user-type" class="form-control">
                                                            <option>1</option>
                                                            <option>2</option>
                                                            <option>3</option>
                                                            <option>4</option>
                                                            <option selected="selected">5</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row form-group">
                                                    <label class="col-lg-2 control-label">小屏回诊人数</label>
                                                    <div class="col-lg-10">
                                                        <select name="user-type" class="form-control">
                                                            <option>1</option>
                                                            <option>2</option>
                                                            <option>3</option>
                                                            <option>4</option>
                                                            <option selected="selected">5</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row form-group">
                                                    <label class="col-lg-2 control-label">叫号人数</label>
                                                    <div class="col-lg-10">
                                                        <select name="user-type" class="form-control">
                                                            <option selected="selected">1</option>
                                                            <option>2</option>
                                                            <option>3</option>
                                                            <option>4</option>
                                                            <option>5</option>
                                                            <option>10</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row form-group sub-btn">
                                                    <button class="btn btn-send ml-3" type="submit">提交</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                            <!-- /.modal -->
                        </div>
                    </aside>
                </div>
                <div class="exports">
                    <a data-toggle="modal" title="Compose" class="btn btn-compose">导出</a>
                </div>
                <table class="table table-hover" id="table-list">
                    <thead>
                        <tr class="bg-info text-white">
                            <th>
                                <input type="checkbox" name="" id="checkall">
                                全选
                            </th>
                            <th>编号</th>
                            <th>科室名称</th>                            
                            <th>大屏人数</th>
                            <th>小屏人数</th>
                            <th>体检预估时间(分钟)</th>
                            <th>动态平均时长</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody id="ittable">
                @foreach (var item in (List<T_DEPART_MANAGE>)ViewBag.userkist)
                {
                        <tr class="table-success">
                            <th><input type="checkbox" name="item"></th>
                            <th scope="row">@item.D_ID</th>
                            <td>@item.DEPT_CODE</td>
                            <td>@item.BIGSCREEN_NUM</td>
                            <td>@item.SMALLSCREEN_NUM</td>
                            <td>@item.PREDICT_TIME</td>
                            <td>@item.SYNCHRON_TIME</td>                           
                            <td>
                             
                                <span>
                                    <aside class="sm-side">
                                        <div class="inbox-body">
                                            <a href="#myModalchange" data-toggle="modal" title="Compose"> 修改 </a>
                                        </div>
                                    </aside>
                                    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModalchange" class="modal fade" style="display: none;">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                                                    <h4 class="modal-title">请修改信息：</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <form role="form" class="form-horizontal" action="DepartManage/Changedepart" method="post">
                                                        <input type="hidden" value="@item.D_ID" id="departId" name="departId" />
                                                        <div class="row form-group">
                                                            <label class="col-lg-2 control-label">科室名</label>
                                                            <div class="col-lg-10">
                                                                <input type="text" placeholder="" id="inputEmail1" class="form-control" name="departCode"  required>
                                                            </div>
                                                        </div>
                                                      
                                                        <div class="row form-group">
                                                            <label class="col-lg-2 control-label">大屏人数</label>
                                                            <div class="col-lg-10">
                                                                <select name="bigNum" class="form-control">
                                                                    <option>1</option>
                                                                    <option>2</option>
                                                                    <option>3</option>
                                                                    <option>4</option>
                                                                    <option>5</option>
                                                                    <option>6</option>
                                                                    <option selected="selected">7</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="row form-group">
                                                            <label class="col-lg-2 control-label">小屏人数</label>
                                                            <div class="col-lg-10">
                                                                <select name="smartNum" class="form-control">
                                                                    <option>1</option>
                                                                    <option>2</option>
                                                                    <option>3</option>
                                                                    <option>4</option>
                                                                    <option selected="selected">5</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="row form-group">
                                                            <label class="col-lg-2 control-label">体检预估时间(分钟)</label>
                                                            <div class="col-lg-10">
                                                                <input type="text" placeholder="" id="inputEmaill1" class="form-control" name="predictTime">
                                                            </div>
                                                        </div>
                                                        <div class="row form-group">
                                                            <label class="col-lg-2 control-label">动态平均时长(分钟)</label>
                                                            <div class="col-lg-10">
                                                                <input type="text" placeholder="" id="inputEmaill1" class="form-control" name="dynamicTime">
                                                            </div>
                                                        </div>
                                                        <div class="row form-group">
                                                            <label class="col-lg-2 control-label">同步时间(分钟)</label>
                                                            <div class="col-lg-10">
                                                                <input type="text" placeholder="" id="inputEmaill1" class="form-control" name="synchronTime">
                                                            </div>
                                                        </div>
                                                        <div class="row form-group sub-btn">
                                                            <button class="btn btn-send ml-3" type="submit">提交</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            <!-- /.modal-content -->
                                        </div>
                                        <!-- /.modal-dialog -->
                                    </div>
                                </span>
                            </td>
                        </tr>
                }
                    </tbody>
                </table>
   
                <div id="barcon" name="barcon">

                </div>
                <div class="jump">
                    <span class="first">跳至</span>
                    <input type="text" name="" id="gopages" value="">
                    <span>页</span>
                    <input type="button" name="" id="gobtn" value="GO" onclick="jumpPage()">
                </div>
            </div>

        </div>
        <!-- Modal -->
       
        <!-- /.modal -->
    </div>

    <!--Global Javascript -->
    <script src="js/jquery.min.js"></script>
    <script src="js/popper/popper.min.js"></script>
    <script src="js/tether.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.cookie.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/chart.min.js"></script>
    <script src="js/front.js"></script>

    <!--Core Javascript -->
    <script type="text/javascript" src="http://ditu.google.cn/maps/api/js"></script>
    <script src="js/prettymaps.js"></script>
    <script type="text/javascript" src="js/checkbox.js"></script>
    <script type="text/javascript" src="js/pages.js"></script>

</body>

</html>
